.active-nav{
    border-bottom: 2px solid #7ca95c !important;

}
.image-tab {
    border: 2px solid #7ca95c;
}
.active-nav-logo{
    color: #7ca95c !important;
}
.social-media a:hover{
    color: #7ca95c;
}
.left-btn{
  
    color: #7ca95c;
 
}
.right-btn{
    color: #7ca95c;
}
.btn-home a{
    background-color: #7ca95c;
    
}
.line1,.line2, .line3{
    background-color: rgb(176, 145, 79);
   
}
.about-li-active{
    border-top: 2px solid #7ca95c !important;
}
.btn-download a{
    background-color: #7ca95c;
  
}
.progress-bar{
    background-color: #7ca95c;
   
  
}
.progress-bar{
    background-color: #7ca95c;
   
}
.btn-skill a{
    background-color: #7ca95c;
  
}
.serv-vid  a:hover{
    background-color: #7ca95c;
   
}
.serv-vid  a i{
    color:  #7ca95c;
}
.shuffle ul li.active,  .shuffle ul li {
    border: 1px solid #7ca95c;
}
.shuffle-li-active{
    background-color: #7ca95c;
 
}
.profile-details {
  
    border: 1px solid #7ca95c;
    

}
.profile-details h4 {
    color: #7ca95c;
}
.active .image-tab {
    border: 2px solid #7ca95c;
}
.blur-layer{
    background-color: rgba(124, 169, 92, 0.7);

}
.form-group input {
    border-bottom: 2px solid #7ca95c !important;
    
}
.form-group textarea {
    border-bottom: 2px solid #7ca95c !important;

}
.send-btn input.btn {
  
    background-color: #7ca95c;
 
}
.infos {
  
    background: linear-gradient(to right, #7ca95c 0%, #93c96d 100%);
}
.map-button{
    
    background-color: #7ca95c;
  
    
}
footer p a {
    
    color: #7ca95c;
}
.logo img {
    filter: hue-rotate(50deg);
}
.servs .content img{
    filter: hue-rotate(50deg);
}